<p id="first">Hello</p>
<p id="second">Hola</p>
<p id="third">Bonjour</p>
<p id="fourth">Merhaba</p>

<button onclick="changeColors()">Do something</button>
<button onclick="showBoeingPlanes()">Show Boeing Planes</button>
<button onclick="showAllPlanes()">Show All Planes</button>

<div id="responseDiv"></div>